.jumbotron{
    background:url("https://www.gannett-cdn.com/presto/2021/05/24/PJAT/e6ee93f6-2ec1-4ebd-84ad-6a69498238a8-500A0240.jpg?width=640");
    background-repeat: no-repeat;
    background-size: cover;
    height: 640px;
}